@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  transition: .5s;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 16px 3%;
  padding: 10px 50px;
  transition: 0.7s;
  background-color: #2a282afd;
}

header.sticky {
  background: gray;
  padding: 14px 17px;
}

css header.sticky {
  background: #043E51;
  color: white;
  transition: 0.7s;
}

#dark-light {
  border: none;
  background: none;
}

#dark-light img {
  width: 33px;
  cursor: pointer;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

.flex-nav-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.company-logo a {
  color: white;
  font-size: 20px;
}

.nav-fl {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 1.9rem;
}

.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::before {
  content: "";
  background: white;
  width: 100%;
  height: 0.06rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 500ms;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#cars {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.bx-menu,
.bx-x {
  cursor: pointer;
  color: white;
  display: none !important;
}

/* Header end */
main .section1 {
  background-color: #1a191a;
  color: white;
  padding-bottom: 142px;
  padding-top: 50px;
}

main .section1 .sec1 {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1550px;
}

main .section1 .sec1 .left {
  width: 100%;
}

main .section1 .sec1 .left .inp {
  position: relative;
}

main .section1 .sec1 .left .inp input {
  padding: 10px;
  padding-left: 30px;
  width: 70%;
}

main .section1 .sec1 .left .inp img {
  position: absolute;
  left: 5px;
  margin-top: 10px;
}

main .section1 .sec1 .left .inp button {
  all: unset;
  position: absolute;
  margin-left: -70px;
  background-color: #3858D6;
  color: white;
  margin-top: 4px;
  padding: 6px 10px;
  border-radius: 10px;
}

main .section1 .sec1 .left h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 125.5%;
}

main .section1 .sec1 .left p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  color: #8B8E99;
  margin-top: 20px;
  margin-bottom: 20px;
}

main .section1 .sec1 .right {
  width: 100%;
  justify-content: center;
  text-align: center;
}

main .section1 .sec1 .right img {
  max-width: 450px;
  width: 100%;
}

main .section2 {
  padding-top: 73px;
}

main .section2 .sec2 {
  width: 90%;
  margin: auto;
  max-width: 1550px;
}

main .section2 .sec2 .flex {
  display: flex;
  justify-content: space-between;
}

main .section2 .sec2 .flex .one {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 40px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

main .section2 .sec2 .flex .one img {
  margin-right: 10px;
}

main .section2 .sec2 .flex .one h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #1E1D1D;
}

main .section2 .sec2 .flex .one p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8B8E99;
}

main .section3 {
  margin-top: 135px;
}

main .section3 .sec3 {
  width: 90%;
  margin: auto;
  max-width: 1550px;
}

main .section3 .sec3 .find {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #3858D6;
  margin-bottom: 10px;
}

main .section3 .sec3 .our {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #1E1D1D;
}

main .section3 .sec3 .three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 20px;
  margin-top: 30px;
}

main .section3 .sec3 .three .s img {
  background-color: #F6F6F6;
  padding: 20px 40px;
  width: 100%;
  max-width: 300px;
}

main .section3 .sec3 .three .s span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120.5%;
  text-align: right;
  color: #8B8E99;
  margin-right: 10px;
  margin-top: 10px;
}

main .section3 .sec3 .three .s .pi {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120.5%;
  margin-top: 10px;
}

main .section3 .sec3 .three .s .app {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #1E1D1D;
  margin-bottom: 10px;
}

main .section3 .sec3 .button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

main .section3 .sec3 .button button {
  all: unset;
  background-color: #3858D6;
  color: white;
  padding: 7px 30px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

main .container {
  /* 1440-2*60+2*2+2*20=1360; */
  max-width: 1360px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

main #owl-carousel {
  padding-top: 136px;
  padding-bottom: 130px;
}

main .owl-carousel-1 {
  position: relative;
}

main .owl-carousel-1 .shop-card {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 50px;
}

main .owl-carousel-1 .shop-card .shop-card-img {
  margin-right: 20px;
}

main .owl-carousel-1 .shop-card .shop-card-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8B8E99;
}

main .owl-carousel-1 .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  margin: 5px 7px;
  border-radius: 30px;
  transition: all 0.2s ease;
}

main .owl-carousel-1 .owl-dots .owl-dot.active span {
  width: 100px;
  background-color: #D9D9D9;
}

main #owl-carousel .owl-prev,
main #owl-carousel .owl-next {
  position: absolute;
  top: calc(50% - 30px);
  width: 30px;
  height: 30px;
  background-color: #c3d2d0 !important;
  color: #4e1717 !important;
  font-size: 25px !important;
}

main .owl-carousel-1 .owl-prev {
  left: -15px;
}

main .owl-carousel-1 .owl-next {
  right: -15px;
}

main .section5 .sec5 {
  background-color: #F6F6F6;
  width: 90%;
  margin: auto;
  max-width: 1550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

main .section5 .sec5 h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #1E1D1D;
}

main .section5 .sec5 p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8B8E99;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .section5 .sec5 .left .email {
  position: relative;
}

main .section5 .sec5 .left .email input {
  padding: 10px;
  width: 100%;
}

main .section5 .sec5 .left .email button {
  all: unset;
  position: absolute;
  top: 0;
  right: 4px;
  margin-top: 3.5px;
  background-color: #3858D6;
  padding: 7px 30px;
  color: white;
  border-radius: 10px;
}

main footer {
  background-color: #000;
  color: white;
  text-align: center;
}

main footer .futer {
  width: 90%;
  margin: auto;
}

main footer .futer p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  padding: 30px 0px;
}

.dark {
  background-color: #000;
  color: white;
}

.dark .section1 {
  background-color: white;
  color: #000;
}

.dark .section3 .sec3 .our {
  color: white;
}

.dark .section3 .sec3 .our .three .s p {
  color: white !important;
}

.dark .owl-carousel {
  color: black;
}

@media (max-width: 1045px) {
  .section2 .sec2 .flex {
    flex-direction: column;
  }
  .section2 .sec2 .flex .one {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 1035px) {
  .section3 .sec3 .three {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 1000px) {
  .section1 .sec1 {
    flex-direction: column;
    text-align: center;
  }
  .section1 .sec1 .left .inp input {
    width: 100% !important;
  }
  .section1 .sec1 .right img {
    width: 70% !important;
  }
}

@media (max-width: 990px) {
  .nav-btn {
    display: none;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: black;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
  .Home .fle {
    flex-direction: column;
    text-align: center;
  }
  .fle .p1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

@media (max-width: 820px) {
  .section5 .sec5 {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  #owl-carousel .container .owl-carousel-1 .shop-card {
    text-align: center;
    flex-direction: column !important;
  }
  #owl-carousel .container .owl-carousel-1 .shop-card img {
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .section1 .sec1 .left h1 {
    font-size: 50px !important;
  }
}

@media (max-width: 530px) {
  .section1 .sec1 .left h1 {
    font-size: 45px !important;
  }
  .section1 .sec1 .left p {
    font-size: 15px !important;
  }
}

@media (max-width: 500px) {
  .section3 .sec3 .three {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 650px) {
  .section1 .sec1 .left h1 {
    font-size: 35px !important;
  }
  .section1 .sec1 .left p {
    font-size: 14px !important;
  }
}

@media (max-width: 410px) {
  .section5 .sec5 .left .email button {
    padding: 7px 20px !important;
  }
}

@media (max-width: 385px) {
  .section5 .sec5 .left .email button {
    padding: 7px 10px !important;
  }
}

@media (max-width: 650px) {
  .section1 .sec1 .left h1 {
    font-size: 20px !important;
  }
  .section1 .sec1 .left p {
    font-size: 13px !important;
  }
}
/*# sourceMappingURL=style.css.map */